
 /* <!----- Group B  ------> */

 .banner{
    background-image: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 783px;
    position: relative;
}
.banner .banneroverly{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 0;
    left: 0;

}
.banner h1{
     font-family: "Poppins", sans-serif;
    font-weight: 700;
     color: #FFFFFF;
     font-size: 64px;
     width: 842px;
     padding-top: 257px;
     padding-bottom: 31px;
     
     height: 186px;
   
   
}
.banner a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
     color: #ffffff;
     font-size: 16px;
    
     padding-top: 14px;
     padding-bottom: 14px;
     padding-left: 41px;
     padding-right: 42px;
     margin-top: 150px;
     background: red;
     display: inline-block;
     text-decoration: none;
     transition: .5s;
     
   

}
.banner a:hover{
    color: #000;
    background-color: #f47004;
}


  /* <!-- banner part end--> */

.supplier .col-lg-5 h2{
       font-family: "Poppins", sans-serif;
    font-weight: 700;
     color: #000000;
     font-size: 48px;
     width: 289px;
     line-height: 72px;
     
 
   
}
.supplier .col-lg-7 p{
           font-family: "Poppins", sans-serif;
    font-weight: 400;
     color: #6C6C6C;
     font-size: 16px;
     width: 651px;
     padding-top: 80px;
   
  
     

}
.supplier .box{
    display: flex;
}
.supplier{
    padding-top: 78px;
    padding-bottom: 100px;
}


/* <!-- supplier part end --> */

/* < ----image part start-------> */

.bannerbottom {
    padding: 20px 0;
}

.item img {
    width: 100%;
    height: auto;
}


/* < ----image part end-------> */

 /* <!----- Group B  ------> */

 /* <!----- Group A  ------> */
 /* <====== Services ======> */

 .services .item{
    position: relative;
    overflow: hidden;
 }

.services .item h2{
    font-size: 44px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding-left: 260px;
    padding-top: 66px;
    color: #000000;   
}

.services .item p{
    font-size: 11px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    width: 548px;
    padding-left: 272px;
    color: #6C6C6C;

}

.services .item .overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.6);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: .3s
}

.services .item:hover .overlay{
    bottom: 0;
}

.services .item .overlay h4{
    font-size: 24px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    padding-left: 84px;
    padding-top: 104px;
    color: #FFF;
}

.services .item .overlay a{
    display: block;
    width: 103px;
    font-size: 10px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding: 9px 23px;
    color: #FFF;
    background-color: #F40404;
    text-decoration: none;
    margin-left: 85px;
    margin-top: 16px;
    transition: .3s;
}

.services .item .overlay a:hover{
    color: #000;
    background-color: #f47004;
}

/* <====== Services ======> */
/* <====== About ======> */

.about-p {
  background-color: #f0f0f0;
  width: 100%;
  height: 633px;
}

.container {
  position: relative;
}

.bg {
  background-color: #f40404;
  width: 413px;
  height: 361px;
  position: absolute;
  top: 136px;
  left: 0;
}
.h2-p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  width: 262px;
  line-height: 54px;
  position: absolute;
  top: 100px;
  left: 75.5px;
}

.learnmore {
  position: absolute;
  top: 136px;
  left: 401px;
}

.image {
  width: 726px;
  height: 361px;
}

.learnmore a {
  text-decoration: none;
  position: absolute;
  top: 168px;
  left: 282px;
  color: #f40404;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 30px;
  transition: .3s;
}

.learnmore a:hover{
    color: #3434e7;

}

/* <====== About ======> */
/* <====== Reference ======> */

.reference{
  margin-top: 117px;
  margin-bottom: 117px;
}

/* <====== Reference ======> */
/* <!----- Group A  ------> */